
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RRR</title>
</head>
<body>
    <div> 
        <h1>@TempData["what"]</h1>
        <h1>@TempData["aaa"]</h1>
        <h1>@TempData["aaale"]</h1>
    </div>
</body>
</html>
